body {
    background-color: lightyellow;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.form-container {
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;
}

form label, form input, select {
    margin: 5px 0;
}

.container {
    display:flex;
    justify-content: space-evenly;
    background-color: #5dd0d8;
    border-radius: 8px;
    margin: 0 15vw 10px 15vw;
}

.budget {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    border-radius: 8px; 
    margin: 10px 10px;
    padding: 10px 10px;
}

.charts {
    display: flex;
}

figure {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 10px;

}

.pie {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 10px 10px;
}

.legends {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.legends span::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.legends span.red::before {
    background-color: red;
}

.legends span.green::before {
    background-color: green;
}

.legends span.blue::before {
    background-color: blue;
}

.legends span.purple::before {
    background-color: purple;
}

.legends span.yellow::before {
    background-color: yellow;
}

.legends span.pink::before {
    background-color: pink;
}

.legends span.orange::before {
    background-color: orange;
}
#items-container {
    display: flex;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#items-info {
    width: 800px;
    margin-right: 100px;
    
}

.image-preview {
    max-height: 150px;
    border: 2px solid #999;
    border-radius: 8px;
    transition: transform 0.5s;
}

.image-preview:hover {
    transform: scale(1.2, 1.2);
}

.item {
    display: grid;
    background-color: lightcyan;
    grid-template-areas:
        "image buttons"
        "image info";
    border: 2px solid #999;
    border-radius: 8px;
    gap: 10px;
    padding: 10px;
    max-height: 150px;
    max-width: 600px;
    position: sticky;
    top: 40%;
}
.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: end;
    height: max-content;
}

.edit, .delete {
    margin-right: 4px;
}

.image {
    grid-area: image;
    max-height: 150px;
    border-radius: 8px;
    justify-self: center;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0 auto;
    font-size: 1em;
}

.store-tags-price {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.store-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store {
    font-style: italic;
    color: #aaa
}

.tag-importance {
    border: 2px solid orange;
    padding: 4px 8px;
    margin-right: 4px;
    background-color: yellow;
    border-radius: 999px;
}

.tag-category {
    border: 2px solid purple;
    padding: 4px 8px;
    margin-right: 4px;
    background-color: pink;
    border-radius: 999px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}